.center {
    text-align: "center";
  }

  h1 {
    font-size: 26px;
      color: #F0FFF0;
      margin-top: 40px;
      text-align: center;
  }

  .bg-light {
      background-color: #F0FFF0!important;
      border-bottom: 1px solid #191824;
  }

  li.nav-item {
      margin-right: 40px;
      
  }

  #content {
    margin-top: 40px;
    width: 900px
  }

  input {
      margin-bottom: 20px;
  }

  p{
    color:#F0FFF0;
  }
  